* {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#componente {
    background-color: #2f0853;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #a02bff;
}

.pregunta {
    margin-bottom: 15px;
}

.pregunta label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #a02bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6a1a99;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #c680ff;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #d180ff;
}
